# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Build da lambda
build/
*.zip

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
crash.log

# SAM
.aws-sam/
env.json
