{
  "AutenticacaoCpfFunction": {
    "DATABASE_URL": "postgresql://pytstop:pytstop-demo@host.docker.internal:15432/pytstop",
    "JWT_SECRET": "demo-jwt-secret-pytstop-fase2-no-minimo-32-bytes",
    "ENCRYPTION_KEY": "C9I0jOzZ9kJBTY0akV3TvBO2wa1JcuAdR-Wctnzee6I=",
    "JWT_EXPIRATION_MINUTES": "30"
  },
  "AutorizadorFunction": {
    "JWT_SECRET": "demo-jwt-secret-pytstop-fase2-no-minimo-32-bytes"
  }
}
